accelerate==1.7.0
apex==0.9.10dev
bm25_retriever==0.3
configue==6.0.0
datasets==3.6.0
einops==0.8.2
huggingface_hub==0.31.4
liger_kernel==0.5.10
matplotlib==3.10.8
mteb==1.38.12
mteb==1.16.5
numpy==2.4.2
nvidia_ml_py==12.570.86
packaging==26.0
peft==0.15.2
Pillow==12.1.1
pydantic==2.12.5
python-dotenv==1.2.1
pytrec_eval_terrier==0.5.7
scipy==1.17.0
seaborn==0.13.2
torch==2.8.0
tqdm==4.67.1
transformers==4.55.0
typer==0.24.0
